/* common shared styles */
body {
    font-family: 'Open Sans', sans-serif;
}

.btn-primary {
    color: #FFF;
    border-radius: 8px;
    background: #E55473;
    border: 0;
    padding: 15px 30px;

}



/* header related styles */

.banner-title {
    color: #272727;
    font-size: 45px;
    font-weight: 800;
    width: 450px;
    margin-bottom: 30px;
}

.banner-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 10;
    width: 700px;
    margin-bottom: 30px;

}

.banner-image {

    width: 400px;
    height: 500px;
    padding: 50px 30px 0px 100px;
}

.banner-content {
    max-width: 500px;
}

.banner {
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    padding: 80px 20px 0px 50px;
    justify-content: space-between;
}

/* main section styles */

/* featured flower section*/
.section-title {

    color: #272727;
    text-align: center;
    font-size: 30px;
    font-weight: 800;
    margin-top: 180px;
    margin-bottom: 20px;
}

.section-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    width: 800px;
    padding: 10px 250px 10px 250px;
    margin-bottom: 48px;
}

.featured-flower-container {
    display: flex;
    justify-content: space-around;
    max-width: 1200px;
    text-align: center;
    text-decoration: underline;
    padding-left: 70px;
}

.featured-flower-sub-container1 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    width: 400px;
    height: 400px;
    padding: 20px;
    margin-right: 25px;



}

.featured-flower-sub-container2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);
    width: 350px;
    height: 400px;
    padding: 20px;
    margin-right: 25px;


}

.featured-flower-sub-container3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width:  400px;
    height: 440px;
}



.info-picture1 {
    width: 200px;
    height: 320px;

}

.info-picture2{
    width: 350px;
    height: 355px;
}

.info-picture3{
    width: 200px;
    height: 410px;
}

.featured-flower-sub-container1 img{
    padding: 100px 78px 0px 76px;
}

.featured-flower-sub-container2 img {
    padding: 50px 150px 47px 5px;
}

.featured-flower-sub-container3 img{
    padding: 30px 35px 0px 35px;
}

.info-description2{
    margin-top: -15px;
}